.grid-row1{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin: 6%;
}
h1{
    margin: 5%;
    color: var(--Color, rgba(16, 17, 19, 0.90));
font-family: Quicksand;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.card1-name{
    display: flex;
    gap: 15%;
}

.card1-name h4{
    font-family: Playfair Display;
font-size: 24px;
font-weight: 500;
line-height: 31.99px;
text-align: left;

}

.card1-name h5{
    color: var(--dark, #101113);
font-family: "Playfair Display";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.desc-and-btn{
    display: flex;
    gap: 43%;
    margin: 5px;

}

.desc-and-btn h4{
    color: var(--dark, #101113);
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.desc-and-btn button{
    display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10%;
border-radius: 4px;
background: #E9731F;
border: #E9731F;
color: #FCFCFC;
margin-top: 1px;
}

.rating{
    display: flex;
}

.rating h5{
    color: #000;
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 10px;
    padding: 14px 20px;
margin-top: 5%;
    margin-bottom: 20%;
    border: #799283;
    border-radius: 100%;
    background-color:#FCFCFC;
    color: black;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #799283;
    border: #799283;
    color: #FCFCFC;
  }
  
  .pagination button:hover:not(.active) {
    background-color: #FCFCFC;
    color: #799283;
  }
  
  .pagination button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
  }

  @media (max-width: 1100px) {
    .card1{
        margin-left: 10%;
        
    }

    


  }
  

  @media (max-width: 700px) {
    .card1{
        margin-left:3%;
        
    }
    .card1 img{
        width: 100%;
    }
    .card1 h4{
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

}